VITE_RAZORPAY_KEY_ID=PASTE_KEY_ID_HERE
RAZORPAY_KEY_ID=PASTE_KEY_ID_HERE
RAZORPAY_KEY_SECRET=PASTE_SECRET_KEY_HERE
MONGODB_URI=PASTE_MONGODB_URI_HERE
MONGODB_DB_NAME=startupwithparv
VITE_API_BASE_URL=http://localhost:8787
PORT=8787
